---
// This card grid doesn't support stagger
---

<div class:list={['card-grid']}>
    <slot />
</div>

<style>
    .card-grid {
        display: grid;
        gap: 1rem;
    }

    .card-grid > :global(*) {
        margin-top: 0 !important;
    }

    @media (min-width: 50rem) {
        .card-grid {
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
        }
    }
</style>